main {
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    content: '';
    width: 2435px;
    height: 1320px;
    top: 810px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../img/bg/bg-5.svg') no-repeat;
    background-size: 60%;
    margin-left: 100px;
    z-index: 5;
  }
}
//maint
.page-main-maint {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: url('../img/bg/bg-maintenance.svg') no-repeat center;
  background-size: contain;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  z-index: 6;

  & p {
    width: 120px;
    text-align: right;
    font-size: 14px;
    margin-top: 120px;
    margin-right: 180px;
  }
}

.page-main-1 {
  max-width: 375px;
  position: relative;
  padding: 0 15px;
  margin: 0 auto -5px;
  color: $text-dark;
  z-index: 8;
}

.page-main-1__slider {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -150px;
}

.page-main-1__img {
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  animation-name: fade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));

  &:nth-child(1) {
    animation-delay: 0s;
  }
  &:nth-child(2) {
    animation-delay: 2s;
  }
  &:nth-child(3) {
    animation-delay: 4s;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.page-main-1__header {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 40px;

  & span {
    font-size: 40px;
    color: $bg-color-2;
  }
}

.page-main-1__button {
  position: fixed;
  width: 345px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}

.page-main-1__button--order {
  bottom: 85px;
  background-size: 300% 100%;
  background-image: linear-gradient(
    90deg,
    #8e73ea 0%,
    #7a7af1 58.85%,
    #6983f5 100%
  );
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.25), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: $text-white;
  transition-property: box-shadow, transform;
  transition-duration: 0.15s;
  &:hover {
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.24), 0 3px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(-2px);
  }
}

.page-main-1__button--video {
  bottom: 15px;
  background: rgba(255, 255, 255, 0.61);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.25);
  color: $text-alt-2;
}

.page-main-1__container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  height: 700px;
  padding: 660px 30px 0;
}

.page-main-1__appstore,
.page-main-1__playmarket {
  transition: transform 0.15s;

  &:hover {
    transform: translateY(-2px);
  }
}

.page-main-1__appstore {
  height: 65px;
  width: 140px;
  background: url('../img/bg/appstore-badge.svg') no-repeat center;
}

.page-main-1__playmarket {
  height: 62px;
  width: 140px;
  background: url('../img/bg/playmarket-badge.svg') no-repeat center;
}

@media only screen and (max-width: 374px) {
  .page-main-1 {
    max-width: 320px;
  }

  .page-main-1__header {
    font-size: 20px;
    line-height: 30px;

    & span {
      font-size: 32px;
    }
  }

  .page-main-1__button {
    width: 290px;
  }

  .page-main-1__container {
    padding: 660px 15px 0;
  }
}
