main {
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    content: "";
    width: 2435px;
    height: 1320px;
    top: 430px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../img/bg/bg-5.png") no-repeat;
    z-index: 5;
  }
}

.page-main-1 {
  position: relative;
  padding: 0 15px;
  margin: 0 auto -5px;
  color: $text-dark;
  max-width: 375px;
  background: url("../img/bg/phone.png") no-repeat center 130px;
  background-size: 97%;
  z-index: 8;
}

.page-main-1__header {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 40px;

  & span {
    font-size: 40px;
    color: $bg-color-2;
  }
}

.page-main-1__button {
  position: fixed;
  width: 345px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}

.page-main-1__button--order {
  bottom: 85px;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  color: $text-white;
  transition: background-position 0.6s ease-in-out;

  &:hover {
    background-position: 100% 0;
  }
}

.page-main-1__button--video {
  bottom: 15px;
  border: 1px solid $bg-color-2;
  background: url("../img/bg/play.svg") no-repeat 285px center,
    rgba(255, 255, 255, 0.61);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.25);
  color: $bg-color-2;

  &::after {
    position: absolute;
    top: 12px;
    right: 37px;
    width: 34px;
    height: 34px;
    content: "";
    background: url("../img/bg/play-circle.svg") no-repeat;
    transition: transform 0.8s ease-in-out;
  }

  &:hover::after {
    transform: rotate(360deg);
  }
}

.page-main-1__container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  height: 700px;
  padding: 660px 30px 0;
}

.page-main-1__appstore {
  height: 55px;
  width: 140px;
  background: url("../img/bg/appstore-badge.svg") no-repeat center;
}

.page-main-1__playmarket {
  height: 60px;
  width: 140px;
  background: url("../img/bg/playmarket-badge.svg") no-repeat center;
}
