.page-main-2__switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 22px;
  width: 38px;
  position: relative;
  margin: 0 10px;

  & input {
    display: none;
  }
}

.slider {
  position: absolute;

  background: linear-gradient(180deg, #14141c 20%, rgba(33, 33, 47, 0.63) 100%);
  box-shadow: 0px -4px 12px #adacff, 0px 4px 12px #484877;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
  cursor: pointer;
}

.slider:before {
  bottom: 2px;
  left: 2px;
  background: linear-gradient(
    180deg,
    #e8eaec -19.05%,
    #ffffff 20.74%,
    #d1d3d4 91.67%
  );
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  transition: 0.4s;
}

.switch-wrapper__text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.05em;
  transition: color 0.4s ease-in-out;
  cursor: pointer;
}

.switch-wrapper__text--before {
  color: $text-white;
}

.switch-wrapper__text--after {
  color: $text-alt;
}

input:checked + .slider {
  background: linear-gradient(180deg, #14141c 20%, rgba(33, 33, 47, 0.63) 100%);
  box-shadow: 0px -4px 12px #adacff, 0px 4px 12px #484877;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.light {
  color: $text-white;
}

.dark {
  color: $text-alt;
}
