@media only screen and (min-width: 1440px) {
  main {
    &::before {
      position: absolute;
      content: '';
      width: 244px;
      height: 201px;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      background: url('../img/bg/bg-4.png') no-repeat;
      background-size: contain;
      margin-left: 490px;
      z-index: 5;
    }
    &::after {
      width: 3000px;
      height: 1600px;
      top: 550px;
      margin-left: 0;
      background-size: 85%;
    }
  }

  .page-main-1 {
    position: relative;
    max-width: 1440px;
    z-index: 10;
  }

  .page-main-1__header {
    width: 597px;
    font-size: 40px;
    line-height: 45px;
    text-align: left;
    margin-top: 65px;
    margin-left: 130px;
    margin-bottom: 120px;

    & span {
      font-size: 64px;
      line-height: 80px;
    }
  }

  .page-main-1__slider {
    top: 40px;
    margin-left: 210px;
  }

  .page-main-1__img {
    width: 285px;
  }

  .page-main-1__container {
    height: 443px;
    padding-top: 220px;
    margin-left: 885px;
  }

  .page-main-1__button {
    width: 250px;
    font-weight: 500;
    font-size: 30px;
    border-radius: 20px;
    letter-spacing: 0.05em;
    bottom: 0;
  }

  .page-main-1__container--3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 120px;
  }
}
