@media only screen and (min-width: 1440px) {
  main {
    &::before {
      position: absolute;
      content: "";
      width: 1650px;
      height: 1940px;
      top: -70px;
      left: 50%;
      transform: translateX(-50%);
      background: url("../img/bg/bg-4.png") no-repeat;
      margin-left: 330px;
      z-index: 5;
    }
    &::after {
      width: 1750px;
      top: -40px;
    }
  }

  .page-main-1 {
    position: relative;
    max-width: 1440px;
    background: url("../img/bg/phone.png") no-repeat 900px 25px;
    background-size: 23.5%;
    z-index: 10;
  }

  .page-main-1__header {
    width: 597px;
    font-size: 40px;
    line-height: 45px;
    text-align: left;
    margin-top: 65px;
    margin-left: 130px;
    margin-bottom: 35px;

    & span {
      font-size: 64px;
      line-height: 80px;
    }
  }

  .page-main-1__container {
    height: 443px;
    padding-top: 305px;
    margin-left: 885px;
  }

  .page-main-1__button {
    position: relative;
    width: 520px;
    font-weight: 500;
    font-size: 30px;
    border-radius: 20px;
    line-height: 45px;
    letter-spacing: 0.05em;
    margin-left: 235px;
  }
}
