@media only screen and (min-width: 768px) {
  main {
    &::after {
      width: 2140px;
      top: 960px;
      margin-left: -80px;
      background-size: 80%;
    }
  }

  .page-main-maint {
    & p {
      width: 160px;
      font-size: 18px;
      margin-top: 150px;
      margin-right: 250px;
    }
  }

  .page-main-1 {
    display: flex;
    max-width: 768px;
  }

  .page-main-1__header {
    width: 373px;
    font-size: 32px;
    line-height: 50px;
    text-align: right;
    margin-top: 215px;
    margin-left: -17px;
    margin-bottom: 115px;

    & span {
      font-size: 50px;
    }
  }

  .page-main-1__slider {
    top: 100px;
    margin-left: 40px;
  }

  .page-main-1__img {
    width: 310px;
  }

  .page-main-1__container {
    height: 365px;
    padding-top: 170px;
    margin-left: 394px;
  }

  .page-main-1__container--3 {
    display: flex;
    flex-direction: column;
  }
  .page-main-1__button {
    width: 290px;
    position: static;
    margin-left: 15px;
  }

  .page-main-1__button--order,
  .page-main-1__button--video {
    width: 250px;
    font-size: 30px;
  }

  .page-main-1__button--order {
    position: relative;
    margin-bottom: -70px;

    &::after {
      content: '';
      position: absolute;
      top: -10px;
      left: 265px;
      height: 79px;
      width: 78px;
      background: url('../img/bg/bg-arrows.svg') no-repeat center;
      transition-duration: 0;
    }
  }

  .page-main-1__button--video {
    background: transparent;
    border: 1px solid $text-alt-2;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25),
      inset 2px 2px 6px rgba(0, 0, 0, 0.25);
    background-position: 230px 21px;
    transition-property: box-shadow, transform, color;
    transition-duration: 0.15s;
    &:hover {
      box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.24),
        inset 4px 4px 14px rgba(0, 0, 0, 0.24);
      transform: translateY(-2px);
    }
  }
}
