@media only screen and (min-width: 768px) {
  .page-main-2 {
    height: 719px;
    max-width: 768px;
    background: url('../img/bg/bg-2.png') no-repeat center -390px;
    padding-top: 55px;
  }

  .page-main-2__container {
    margin: 0;
  }
  .page-main-2__features {
    top: 85px;
  }

  .page-main-2__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 708px;
    height: 458px;
    background: $text-white url('../img/bg/bg-3-alt.png') no-repeat center -9px;
    background-size: 103%;
    box-shadow: inset 0 0 4px 4px rgba(255, 255, 255, 0.5),
      0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding-top: 100px;
    padding-left: 15px;
  }

  .page-main-2__item {
    display: flex;
    align-items: center;
    width: 260px;
    min-height: 66px;
    font-weight: 500;
    font-size: 16px; //
    background-size: 25%;
    margin-bottom: 34px;
    padding: 0;

    &:nth-child(1) {
      background-position: right;
      text-align: right;
      padding-right: 70px;
    }

    &:nth-child(2) {
      background-position: right;
      text-align: right;
      padding-right: 70px;
    }

    &:nth-child(3) {
      background-position: right;
      text-align: right;
      padding-right: 70px;
    }

    &:nth-child(4) {
      padding-left: 70px;
      margin-left: 140px;
    }

    &:nth-child(5) {
      padding-left: 70px;
      margin-bottom: 0;
      margin-left: 140px;
    }
  }

  .page-main-2__price {
    top: 86px;
  }

  .price__comtainer {
    width: 708px;
    height: 457px;
    border-radius: 10px;
    background: $text-white;
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    margin: 0 auto;
    padding-top: 77px;
  }

  .page-main-2__wrapper--price {
    width: 200px;
    margin-right: 50px;
  }

  .page-main-2__price--bold,
  .page-main-2__price--regular {
    color: $bg-color-2;
  }

  .page-main-2__price--article {
    color: $text-dark;
  }
  .page-main-2__header {
    font-size: 18px;
    line-height: 29px;
    padding-left: 91px;
    margin-bottom: 33px;
  }

  .page-main-2__container-2 {
    display: flex;
    width: 565px;
    margin: 0 auto 70px;
  }

  .page-main-2__price--article {
    display: inline-block;
    width: 313px;
    text-transform: uppercase;
    border: none;
    margin: 0;
    padding: 0;
    padding-left: 90px;
    box-shadow: none;
    margin-right: 108px;
  }

  .page-main-2__button {
    display: inline-block;
    width: 218px;
    height: 48px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: $text-white;
    background: linear-gradient(
      90deg,
      #8e73ea 0%,
      #7a7af1 58.85%,
      #6983f5 100%
    );
    border: none;
    border-radius: 10px;
    vertical-align: 20px;
    cursor: pointer;
  }
}
