@media only screen and (min-width: 768px) {
  .page-main-2 {
    height: 719px;
    max-width: 1500px;
    padding-top: 65px;
  }

  .page-main-2__container {
    margin: 0;
  }
  .page-main-2__features,
  .page-main-2__price {
    top: 100px;
  }

  .page-main-2__list {
    width: 708px;
    height: 440px;
    background: url('../img/bg/bg-3.png') no-repeat 70px center;
    background-size: 42%;
    padding-top: 50px;
    padding-left: 415px;
  }

  .page-main-2__item {
    line-height: 18px;
    display: flex;
    align-items: center;
    width: 235px;
    padding-left: 60px;
    margin-bottom: 30px;

    &:nth-child(5) {
      margin-bottom: 0px;
    }
  }

  .price__comtainer {
    width: 708px;
    height: 440px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25),
      inset 4px 4px 8px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding-top: 77px;
  }

  .page-main-2__wrapper--price {
    width: 200px;
    margin-right: 50px;
  }

  .page-main-2__price--bold,
  .page-main-2__price--regular {
    color: $text-white;
  }

  .page-main-2__price--article {
    font-weight: 700;
    color: $text-dark;
  }
  .page-main-2__header {
    font-size: 18px;
    line-height: 29px;
    padding-left: 91px;
    margin-bottom: 33px;
  }

  .page-main-2__container-2 {
    display: flex;
    width: 565px;
    margin: 0 auto 70px;
  }

  .page-main-2__price--article {
    display: inline-block;
    width: 313px;
    text-transform: uppercase;
    border: none;
    margin: 0;
    padding: 0;
    padding-left: 90px;
    box-shadow: none;
    margin-right: 50px;
  }

  .price {
    padding-left: 30px;
  }

  .page-main-2__button {
    display: inline-block;
    width: 218px;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    color: $bg-color-2;
    background-color: $text-white;
    border: none;
    border-radius: 10px;
    vertical-align: 35px;
    cursor: pointer;
    transition-property: box-shadow, transform, color;
    transition-duration: 0.15s;

    &:hover {
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
      transform: translateY(-2px);
      color: #32325d;
    }
  }
}
