@media only screen and (min-width: 768px) {
  main {
    &::after {
      width: 2140px;
      top: 570px;
    }
  }

  .page-main-1 {
    display: flex;
    max-width: 768px;
    background: url("../img/bg/phone.png") no-repeat right 70px;
    background-size: 49.5%;
  }

  .page-main-1__header {
    width: 373px;
    font-size: 32px;
    line-height: 50px;
    text-align: right;
    margin-top: 215px;
    margin-left: -17px;
    margin-bottom: 44px;

    & span {
      font-size: 50px;
    }
  }

  .page-main-1__container {
    height: 443px;
    padding-top: 145px;
    margin-left: 394px;
  }

  .page-main-1__container--3 {
    display: flex;
    flex-direction: column;
  }
  .page-main-1__button {
    width: 290px;
    position: static;
    margin-left: 67px;
  }

  .page-main-1__button--order {
    margin-bottom: 25px;
  }

  .page-main-1__button--video {
    position: relative;
    background-position: 230px 21px;
  }
}
